@import "tailwindcss";

@theme {
  --color-primary: #14b8a6;
  --color-primary-hover: #2dd4bf;
  --color-success: #34d399;
  --color-danger: #fb7185;
  --color-warning: #fbbf24;
  --color-info: #38bdf8;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #0b1120;
  color: #e2e8f0;
}
